@import "variables.less";
@import (reference) "bootstrap/bootstrap.less";

// Separación entre cada fila:
// logo, pregunta, respuestas e idioma
@separacion_entre_elementos: 40px;
@separacion_entre_elementos_estrechos: 20px;
@ancho_de_logo: 320px;
@ancho_de_logo_estrecho: 280px;

html, body {
  font-family: roboto-regular;
	height: 100%;
	overflow-y: hidden;
}

.elemento_de_columna {
  margin-bottom: @separacion_entre_elementos;
  @media (max-height: 580px) {
    margin-bottom: @separacion_entre_elementos_estrechos;
  }
}

#confirmacion {

  // Posición
  // cubre toda la pantalla
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 2000;

  // Fondo
  // el color se muestra en el tiempo de carga de la imagen
  background-color: white;
	background-image: url('../imagenes/fondos/edad.fondo.jpg');
	background-position: left center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  // Posición de hijos
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	
  // Estilos de bootstrap
  .container-fluid;

	#confirmacion-contenedor {

		img {
			width: @ancho_de_logo;
      @media (max-width: 320px) {
        width: @ancho_de_logo_estrecho;
      }

			.center-block;
      .elemento_de_columna;
		}

		.confirmacion-pregunta {
			.container;
      .elemento_de_columna;

			p {
				color: black;
				font-size: 20.169pt;
				text-align: center;
			}
		}

		.confirmacion-respuesta {
			.container;
      .elemento_de_columna;

			div {
				display: inline-block;
				width: 48%;

				&:first-child {
					padding-right: 50px;
					button {
						float: right;
						text-align: right;
					}
				}

				&:last-child {
					padding-left: 50px;
					button {
						float: left;
						text-align: left;
					}
				}
			}

			button {
				border: 0px;
				background-color: transparent;
				color: black;
				font-size: 54pt;
				font-family: roboto-light;
        line-height: 1;

				&:focus {
					outline: 0px;
				}

				&:hover {
					font-family: roboto-regular;
				}
			}
		}

		#confirmacion-idiomas {
			max-width: 600px;
			min-width: 200px;
			margin-left: auto;
			margin-right: auto;

			p {
				font-family: roboto-regular;
				font-size: 17.025pt;
				text-align: center;

				span {
					border-right: 1px solid #222;
				}

				button {
					border: 0px;
					padding: 0px;
					background-color: transparent;
					padding-right: 10px;
					padding-left: 10px;
					margin: 5px 0px 5px 0px;

					&:focus {
						outline: 0px;
					}

					&.activo {
						font-family: roboto-medium;
					}
				}

				span:last-child {
					border-right: 0px;
          padding-left: 5px;
				}
			}
		}
	}
}
