@import "general";
@import "encabezado";

#fondo1 {
  background-image: url("../imagenes/fondos/inicio.fondo.jpg");
  background-position: right center;
}

#fondo2 {
  background-image: url("../imagenes/fondos/inicio2.fondo.jpg");
  background-position: right center;
}

#fondo3 {
  background-image: url("../imagenes/fondos/inicio3.fondo.jpg");
  background-position: right center;
}

body>div:nth-child(2) {
  width: 60%;
  margin-top: 60px;
  margin-left: 100px;
  &>p {
    font-family: niconne;
    font-size: 48pt;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
  }
}
