@import "general";
@import "encabezado";

.posicion_absoluta {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.fondos {
  .posicion_absoluta;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1000;
}

#fondo1 {
  background-image: url("../imagenes/fondos/inicio.fondo.jpg");
  background-position: right center;
}

#fondo2 {
  background-image: url("../imagenes/fondos/historia.fondo.jpg");
  background-position: right center;
}

#fondo3 {
  background-image: url("../imagenes/fondos/contacto.fondo.jpg");
  background-position: right center;
}

#carrusel_fondo {
  .posicion_absoluta;
  z-index: -998;
  &>div {
    .posicion_absoluta;
    z-index: -999;
    &>div {
      .fondos;
    }
  }
}

body>div:nth-child(2) {
  width: 60%;
  margin-top: 60px;
  margin-left: 100px;
  &>p {
    font-family: niconne;
    font-size: 48pt;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
  }
}
