@import "general";
@import "encabezado";

body {
  background-color: #fff;
}

.producto {
  background-size: cover;
  background-position: center top;
  height: 1000px;
}

.affix {
  top: 0px;
}

.carousel-indicators {
  position: fixed;
  bottom: 0px;
}

#contenido1 {
  background-image: url("../imagenes/productos/composicion.producto.jpg");
}

#contenido2 {
  background-image: url("../imagenes/productos/joven38.producto.jpg");
}

#contenido3 {
  background-image: url("../imagenes/productos/joven45.producto.jpg");
  &>div>div>div {
    .derecha;
  }
}

#contenido4 {
  background-image: url("../imagenes/productos/reposado.producto.jpg");
}

#contenido5 {
  background-image: url("../imagenes/productos/licor.producto.jpg");
  &>div>div>div {
    .derecha;
  }
}

.recuadro_de_texto>div>div {
  h1 {
    text-align: center;
    margin-bottom: 2px;
  }
  &>div {
    p {
      text-align: center;
      margin-bottom: 1px;
      margin-top: 1px;
      font-family: roboto-medium;
      font-size: 14px;
    }
  }
  &>p:nth-child(3) {
    margin-top: 10px;
  }
}
