@import "general";
@import "encabezado";

#fondo1 {
  background-image: url("../imagenes/productos/joven38.producto.jpg");
  background-position: right center;
}

#fondo2 {
  background-image: url("../imagenes/productos/joven38.producto.2.jpg");
  background-position: right center;
}

#fondo3 {
  background-image: url("../imagenes/fondos/inicio.fondo.jpg");
  background-position: right center;
}

#fondo4 {
  background-image: url("../imagenes/fondos/procesos.fondo.jpg");
  background-position: right center;
}

.recuadro_de_texto>div>div {
  h1 {
    text-align: center;
    margin-bottom: 2px;
  }
  &>div {
    p {
      text-align: center;
      margin-bottom: 1px;
      margin-top: 1px;
      font-family: roboto-medium;
      font-size: 14px;
    }
  }
  &>p:nth-child(3) {
    margin-top: 10px;
  }
}
