@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
#confirmacion:before,
#confirmacion:after,
#confirmacion #confirmacion-contenedor #confirmacion-pregunta:before,
#confirmacion #confirmacion-contenedor #confirmacion-pregunta:after,
#confirmacion #confirmacion-contenedor #confirmacion-respuesta:before,
#confirmacion #confirmacion-contenedor #confirmacion-respuesta:after {
  content: " ";
  display: table;
}
#confirmacion:after,
#confirmacion #confirmacion-contenedor #confirmacion-pregunta:after,
#confirmacion #confirmacion-contenedor #confirmacion-respuesta:after {
  clear: both;
}
html,
body {
  font-family: roboto-regular;
  max-height: 100%;
  overflow-y: hidden;
}
#confirmacion {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url('../imagenes/fondos/edad.fondo.jpg');
  z-index: 2000;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#confirmacion > .navbar-header,
#confirmacion > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  #confirmacion > .navbar-header,
  #confirmacion > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
#confirmacion #confirmacion-contenedor img {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 352.058px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#confirmacion #confirmacion-contenedor #confirmacion-pregunta {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 18px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  #confirmacion #confirmacion-contenedor #confirmacion-pregunta {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #confirmacion #confirmacion-contenedor #confirmacion-pregunta {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #confirmacion #confirmacion-contenedor #confirmacion-pregunta {
    width: 1170px;
  }
}
#confirmacion #confirmacion-contenedor #confirmacion-pregunta > .navbar-header,
#confirmacion #confirmacion-contenedor #confirmacion-pregunta > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  #confirmacion #confirmacion-contenedor #confirmacion-pregunta > .navbar-header,
  #confirmacion #confirmacion-contenedor #confirmacion-pregunta > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
#confirmacion #confirmacion-contenedor #confirmacion-pregunta p {
  color: black;
  font-size: 20.169pt;
  text-align: center;
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 33px;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  #confirmacion #confirmacion-contenedor #confirmacion-respuesta {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #confirmacion #confirmacion-contenedor #confirmacion-respuesta {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #confirmacion #confirmacion-contenedor #confirmacion-respuesta {
    width: 1170px;
  }
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta > .navbar-header,
#confirmacion #confirmacion-contenedor #confirmacion-respuesta > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  #confirmacion #confirmacion-contenedor #confirmacion-respuesta > .navbar-header,
  #confirmacion #confirmacion-contenedor #confirmacion-respuesta > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta div {
  display: inline-block;
  width: 48%;
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta div:first-child {
  padding-right: 50px;
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta div:first-child button {
  float: right;
  text-align: right;
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta div:last-child {
  padding-left: 50px;
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta div:last-child button {
  float: left;
  text-align: left;
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta button {
  border: 0px;
  background-color: transparent;
  color: black;
  font-size: 54pt;
}
#confirmacion #confirmacion-contenedor #confirmacion-respuesta button:focus {
  outline: 0px;
}
#confirmacion #confirmacion-contenedor #confirmacion-idiomas {
  margin-top: 37px;
  max-width: 600px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#confirmacion #confirmacion-contenedor #confirmacion-idiomas p {
  font-size: 17.025pt;
  text-align: center;
}
#confirmacion #confirmacion-contenedor #confirmacion-idiomas p span {
  border-right: 1px solid #222;
}
#confirmacion #confirmacion-contenedor #confirmacion-idiomas p button {
  border: 0px;
  padding: 0px;
  background-color: transparent;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px 0px 5px 0px;
}
#confirmacion #confirmacion-contenedor #confirmacion-idiomas p button:focus {
  outline: 0px;
}
#confirmacion #confirmacion-contenedor #confirmacion-idiomas p span:last-child {
  border-right: 0px;
  padding-left: 5px;
}
